* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.header {

}

.announcement {

  display: flex;
  justify-content: center;
  background-color: $color-blue-dark;
  height: 4rem;

  &__title {
    font-size: 1.6rem;
    color: $color-green-primary;
    margin: 1rem 0;
  }
}

.navigation {

  border-bottom: 1px solid $color-blue-dark;

  .container {
    display: flex;
    width: 100%;
    padding: 1rem;
  }

  &__logo {
    display: inline-block;
    padding: 2rem 0;
    margin-right: 2rem;
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    display: inline-block;
    padding: 2rem 0;
  }

  &__item:hover {
    cursor: pointer;
  }

  &__item:not(:last-child) {
    margin-right: 4rem;
  }

  &__link {
    text-decoration: none;
    color: $color-grey-primary;
    font-size: 1.6rem;
  }

  // When hovering the item, we want to see the text of the link in green
  &__item:hover &__link {
    color: $color-green-primary;
  }
}
