* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.header {

}

.announcement {

  display: flex;
  justify-content: center;
  background-color: $color-blue-dark;
  height: 4rem;

  &__title {
    font-size: 1.6rem;
    color: $color-green-primary;
    margin: 1rem 0;
  }
}

.navigation-wrapper {
  display: block;
  height: 6rem;
}

.navigation {

  position: relative;
  border-bottom: 1px solid $color-blue-dark;
  background-color: #fff;

  .container {
    display: flex;
    width: 100%;
    padding: 1rem;
  }

  &__logo {
    display: inline-block;
    padding: 2rem 0;
    margin-left: 2rem;
    margin-right: 4rem;
  }

  &__item {
    // can't give this a position otherwise the dropdown doesn't work.
    display: inline-block;
    padding: 2rem 0;
  }

  &__item:hover {
    cursor: pointer;
  }

  &__item:not(:last-child) {
    margin-right: 4rem;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: $color-grey-primary;
    font-size: 1.4rem;
    font-weight: 700;
  }

  // When hovering the item, we want to see the text of the link in green
  &__item:hover &__link {
    color: $color-green-primary;
  }
}

.navigation-dropdown {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  z-index: 50;
  width: 100%;
  background-color: white;
  padding: 0 0 0 14rem;
  cursor: default;

  height: 0;
  overflow: hidden;

  transition: height .2s;

  &__item {
    display: block;
    cursor: pointer;
  }

  &__item:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__title {
    display: block;
    padding: 2rem 0;
    color: $color-green-dark;
  }

  &__section {
    display: block;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $color-blue-dark;
  }

  &__description {
    display: block;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: $color-grey-primary;
  }

}

.navigation__item:hover .navigation-dropdown {
  height: 38rem;
  border-top: 1px solid $color-blue-dark;
  border-bottom: 1px solid $color-blue-dark;
}

.navigation-dropdown__item:hover .navigation-dropdown__section {
  color: $color-green-primary;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.block {
  margin: 4rem 2rem;

  &__header {
    font-size: 3rem;
    font-weight: 400;
    color: $color-green-primary;
    padding: 2rem 0;
  }

  p {
    font-size: 1.4rem;
    font-weight: 600;
    color: $color-grey-primary;
    line-height: 2rem;

  }
}
